// 連結
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover{
    background-color: $primary !important;
}
// 圖片
.fit-contain {
    object-fit: contain !important;
}

//漸層
.bg-linear-light{
    background: linear-gradient(to bottom, $white 0%, $secondary-light 100%);
}

// 寬高 ----------------------------------------------------------------
.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}
.w-md-60{
    @include medium{
        width: 60% !important;
    }
}

.w-90 {
    width: 90%;
}

.navbar {
    position: sticky !important;
    top: 0;
    z-index: 2000 !important;
}

//hover
.hover-danger {
    &:hover {
        color: $danger !important;
    }
}

.hover-gray-800 {
    &:hover {
        color: $gray-800 !important;
    }
}

.hover-bg-primary-dark{
    &:hover {
        background: $primary-dark !important;
    }
}

//  LOGO ----------------------------------------------------------------
.logo {
    height: 40px;
    width: auto;

    @include medium {
        height: 44px;
    }
}

//  導覽列 ----------------------------------------------------------------
.nav {
    &-counter {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        color: $white;

        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0%, -25%);
    }

    &-img {
        width: 60px;
        height: auto;
        border-radius: 100px;
    }
}

//  下拉選單 ----------------------------------------------------------------
.dropdown {
    &-toggle {
        &::after {
            display: none !important;
        }
    }

    &-item {
        img {
            width: 24px;
            vertical-align: top;
            margin-right: 8px;
        }
    }

    &-menu {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 12%);

        &-notify {
            min-width: 480px !important;
            height: 600px;
            overflow-y: scroll;

            &::-webkit-scrollbar-track {
                border-radius: 100px;
                background-color: $white;
            }

            &::-webkit-scrollbar {
                width: 10px;
                background-color: $white;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 100px;
                background-color: $gray-300;
            }

            &-newLabel {
                width: 12px;
                height: 12px;
            }
        }
    }


}

//  按鈕 ----------------------------------------------------------------
.btn {
    &-primary {
        position: relative;
        // z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;

        &:active {
            transform: translate(0, 6px);
        }

        img {
            width: 32px;
            height: auto;
        }
    }

    &-height {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -6px;
        z-index: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
}


.footer {
    .sitemap {
        display: flex;
        flex-direction: column;

        @include medium {
            flex-direction: row;
        }
    }

    .social-list {
        display: flex;

        @include medium {
            justify-content: end;
        }
    }
}

// 圓角
.rounded-8 {
    border-radius: 8px;
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-24 {
    border-radius: 24px;
}

// 首頁分類
.classic {
    &-item {
        color: $gray-800 !important;

        &:hover {
            color: $primary-dark !important;

            &::before {
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translate(-50%, 0);
                background-color: $primary-dark;
                border-radius: 4px;
            }
        }

        &-active {
            color: $primary-dark !important;

            &::before {
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translate(-50%, 0);
                background-color: $primary-dark;
                border-radius: 4px;
            }
        }
    }
}

// banner swiper
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content: "";
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: "";
}
.swiper-pagination-bullet-active-main{
    background: $white !important;
}
//媒合
.match {
    &-muti {
        input[type="checkbox"] {
            display: none;

            &:checked+.match-muti-item {
                background: $primary;
                color: $white;
                border-radius: 100px;
            }
        }

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px 10px 0;
            padding: 8px 16px;
            background: $gray-200;
            color: $dark;
            border-radius: 100px;
            cursor: pointer;

            &:hover {
                background: $primary;
                color: #fff;
            }

        }
    }

    &-date .form-select {
        background-image: url("../assets/images/icon-weekpick.svg") !important;
        background-size: 20px 20px;
    }
}


// 卡片
.card {
    height: 100% !important;
    position: relative;

    &-img-top {
        height: 200px;
    }


    &:hover {
        .card-img-top {
            transform: scale(1.1);
        }
    }

    &-body {
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        h2 {
            // height: 54px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    &-footer {
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white !important;
        border: none !important;
    }
}

// 分頁頁籤
.page{
    &-item{
        position: relative;
        margin-right: 8px;

        .active
        &:last-child{
            margin-right: 0;
        }
    }
    &-link{
        padding: 12px 16px !important;
        background: $gray-300 !important;
        color: $gray-800 !important;
        border-radius: 8px;
        font-family: 'Noto Sans TC' !important;
        font-size: 14px !important;
        font-weight: 500 !important;

        &:focus{
            box-shadow: none !important;
        }

        &:active {
            transform: translate(0, 4px);
        }

        &-height {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: -4px;
            z-index: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }
    }


}
.page-item.active .page-link{
    border: none !important;
    background: $primary !important;
    color: $white !important;

    &-height {
        background: $primary-dark !important;
    }
}
// time picker
.time {
    cursor: pointer;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    border: 1px solid $gray-300;
    border-radius: 0;
    box-shadow: none;
    margin: 10px 0 0 0;
    padding: 0;
    min-width: 300px;
    max-width: 100%;
    width: auto;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before,
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    display: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td,
.bootstrap-datetimepicker-widget.dropdown-menu table th {
    border-radius: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.old,
.bootstrap-datetimepicker-widget.dropdown-menu table td.new {
    color: #bbb;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.today:before {
    border-bottom-color: #0095ff;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.active,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active {
    background-color: #0095ff;
    text-shadow: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.active.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active.today:before {
    border-bottom-color: #fff;
}

.bootstrap-datetimepicker-widget.dropdown-menu table th {
    height: 40px;
    padding: 0;
    width: 40px;
}

.bootstrap-datetimepicker-widget.dropdown-menu table th.picker-switch {
    width: auto;
}

.bootstrap-datetimepicker-widget.dropdown-menu table tr:first-of-type th {
    border-bottom: 1px solid #34495e;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.day {
    height: 32px;
    line-height: 32px;
    padding: 0;
    width: auto;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td span {
    border-radius: 0;
    height: 77px;
    line-height: 77px;
    margin: 0;
    width: 25%;
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-months tbody tr td,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-years tbody tr td,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td {
    padding: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td {
    height: 27px;
    line-height: 27px;
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td span {
    display: block;
    float: left;
    width: 50%;
    height: 46px;
    line-height: 46px !important;
    padding: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td span:not(.decade) {
    display: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td {
    padding: 0;
    width: 30%;
    height: 20px;
    line-height: 20px;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td:nth-child(2) {
    width: 10%;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td a,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
    border: none;
    border-radius: 0;
    height: 56px;
    line-height: 56px;
    padding: 0;
    width: 100%;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span {
    color: #333;
    margin-top: -1px;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button:hover {
    background-color: #eee;
}

.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td {
    border-top: 1px solid #34495e;
}

.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td a,
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td span {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0;
    width: 100%;
}

.member{
    &-item{
        &-icon{
            width: 24px !important;
            height: 24px !important;
        }
    }
}

.bg-test{
    background-image: url(../../images/bg-signIn-test.svg);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
}