<div class="bg-secondary-dark footer">
    <div class="container-fluid px-16 px-md-40 pt-80 pb-40">
        <img class="logo mb-40" src="../assets/images/funya-logo-white.png" alt="logo">

        <div class="d-flex justify-content-md-between align-items-md-end flex-column flex-md-row">
            <div class="sitemap mb-40 mb-md-0">
                <ul class="m-0 p-0 mb-16 mb-md-0 me-md-60">
                    <li class="mb-16"><a href="#" class="text-white">關於我們</a></li>
                    <li class="mb-16"><a href="#" class="text-white">平台介紹</a></li>
                    <li><a href="#" class="text-white">服務條款</a></li>
                </ul>
                <ul class="m-0 p-0 mb-16 mb-md-0 me-md-60">
                    <li class="mb-16"><a href="#" class="text-white">使用需知</a></li>
                    <li class="mb-16"><a href="#" class="text-white">平台規範</a></li>
                    <li><a href="#" class="text-white">隱私權政策</a></li>
                </ul>
                <ul class="m-0 p-0">
                    <li class="mb-16"><a href="#" class="text-white">常見問題</a></li>
                    <li class="mb-16"><a href="#" class="text-white">加入書聚</a></li>
                    <li><a href="#" class="text-white">開始揪團</a></li>
                </ul>
            </div>

            <div>
                <ul class="social-list m-0 p-0 mb-16">
                    <li class="me-16"><a href="#"><img class="footer-img" src="../assets/images/icon-facebook-footer.svg" alt="facebook"></a></li>
                    <li class="me-16"><a href="#"><img class="footer-img" src="../assets/images/icon-instagram-footer.svg" alt="facebook"></a></li>
                    <li><a href="#"><img class="footer-img" src="../assets/images/icon-mail-footer.svg" alt="facebook"></a></li>
                </ul>
                <p class="fw-normal text-white text-md-end">Copyright © 2023 Funya. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>