<nav class="navbar navbar-expand-lg navbar-light bg-white shadow shadow-1">
    <div class="container-fluid px-16 px-md-40 py-16">
        <a class="navbar-brand" href="index.html"><img class="logo" src="../assets/images/funya-logo.png" alt="#"></a>


        <!-- 行動版選單 -->

        <div class="d-lg-none ms-auto">
            <!-- 漢堡按鈕 Button trigger modal -->
            <button type="button" class="border-0 bg-white" data-bs-toggle="offcanvas" data-bs-target="#menuOffcanvas">
                <span class="material-symbols-outlined fs-40 text-dark">
                    <span class="material-symbols-outlined">
                        drag_handle
                    </span>
                </span>
            </button>
            <!-- 展開選單 Modal -->
            <div class="offcanvas offcanvas-end w-100" tabindex="-1" id="menuOffcanvas"
                aria-labelledby="menuOffcanvasLabel">
                <div class="offcanvas-header border-0 mb-40">
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body mx-auto d-flex flex-column justify-content-between">
                    <ul class="m-0 p-0">
                        <li class="text-center mb-24"> <img class="nav-img mx-auto" src="../assets/images/avatar-01.png"
                                alt="user ">
                        </li>
                        <li class="mb-24"><a class="dropdown-item text-center" href="#">
                                <img src="../assets/images/icon-user.svg" alt="user info">我的資料</a></li>
                        <li class="mb-24"><a class="dropdown-item text-center" href="#">
                                <img src="../assets/images/icon-mission.svg" alt="mission">我的任務</a></li>
                        <li class="mb-40"><a class="dropdown-item text-center" href="#">
                                <img src="../assets/images/icon-personal.svg" alt="personal book club">我的書屋</a>
                        </li>
                        <li>
                            <div class="position-relative">
                                <div class="btn-height bg-primary-dark"></div>
                                <div class="btn-primary bg-primary ps-16 pe-20 pt-12 pb-8">
                                    <img class="me-8" src="../assets/images/icon-holdEvent.svg" alt="hold a evnet">
                                    <a href="#" class="stretched-link text-white">我要揪團</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center justify-content-center">
                        <a class="text-danger" href="logIn.html">登出</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 電腦版選單 -->
        <div>
            <ul class="navbar-nav ms-auto align-items-center d-none d-lg-flex flex-row">
                <!-- 主按鈕 -->
                <li class="nav-item me-md-40">
                    <div class="position-relative">
                        <div class="btn-height bg-primary-dark"></div>
                        <div class="btn-primary bg-primary ps-16 pe-20 pt-16 pb-12">
                            <img class="me-4" src="../assets/images/icon-holdEvent.svg" alt="hold a evnet"
                                style="width: 24px;">
                            <a href="#" class="stretched-link text-white fw-semibold">我要揪團</a>
                        </div>
                    </div>
                </li>
                <!-- 分隔線 -->
                <li class="nav-item me-md-32">
                    <div class="bg-gray-300" style="width: 1px; height: 48px"></div>
                </li>
                <!-- 我的任務 -->
                <li class="nav-item position-relative me-md-24 px-12">
                    <div class="d-flex flex-column jistify-content-center align-items-center">
                        <img src="../assets/images/icon-mission.svg" alt="mission" style="width: 36px;">
                        <a class="stretched-link text-dark" href="#">新任務</a>
                    </div>
                    <div class="nav-counter bg-danger">1</div>
                </li>

                <!-- 我的通知 -->
                <li class="nav-item position-relative me-md-40 px-12">
                    <div class="nav-counter bg-danger">1</div>
                    <div class="dropdown">
                        <div class="dropdown-toggle d-flex flex-column jistify-content-center align-items-center"
                            role="button" id="dropdownNotify" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../assets/images/icon-notify.svg" alt="mission" style="width: 36px;">
                            <a class="stretched-link text-dark" href="#">通知</a>
                        </div>
                        <!-- 展開選單 -->
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-notify mt-md-8 rounded-16"
                            aria-labelledby="dropdownNotify ">
                            <li class="d-flex justify-content-between p-16">
                                <a href="#">全部標示已讀</a>
                                <a class="text-end" href="notify.html">查看全部</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <!-- 通知類型：好友邀請 -->
                            <li class="px-16 py-8 d-flex justify-content-between align-items-center position-relative">
                                <div class="d-flex align-items-start w-90">
                                    <a href="#"> <!-- 連結到發起者主頁 -->
                                        <img class="rounded-circle me-16" src="../assets/images/avatar-01.png"
                                            alt="user image" style="width: 48px;">
                                    </a>
                                    <div>
                                        <p class="d-inline-block border border-gray-600 rounded-8 fs-12 px-8 py-2 mb-4">
                                            好友邀請
                                        </p>
                                        <p class="mb-8">Alex Lioa 對你發出好友邀請</p>
                                        <div class="d-flex mb-8">
                                            <a href="#"
                                                class="d-block bg-primary px-16 py-8 rounded-8 fs-14 text-white text-center me-8">加好友</a>
                                            <a href="#"
                                                class="d-block bg-white px-16 py-8 border border-gray-600 rounded-8 fs-14 text-dark text-center">略過</a>
                                        </div>
                                        <p class="fs-12 text-gray-600">4小時前</p>
                                    </div>
                                </div>
                                <div class="dropdown-menu-notify-newLabel bg-secondary rounded-circle"></div>
                            </li>
                            <!-- 通知類型：好友邀請 end -->

                            <!-- 通知類型：書聚申請 -->
                            <li class="px-16 py-8 d-flex justify-content-between align-items-center position-relative">
                                <div class="d-flex align-items-start w-90">
                                    <a href="#" class="me-16"> <!-- 連結到發起者主頁 -->
                                        <img class="rounded-circle" src="../assets/images/avatar-02.png"
                                            alt="user image" style="width: 48px;">
                                    </a>
                                    <a href="#">
                                        <p
                                            class="d-inline-block border border-dark rounded-8 fs-12  text-dark px-8 py-2 mb-4">
                                            書聚申請
                                        </p>
                                        <p class="d-block mb-4 text-dark">Alice Lioa
                                            申請加入《如何改變一個人：華頓商學院教你消除抗拒心理，從心擁抱改變》書聚</p>
                                        <p class="fs-12 text-gray-600">4小時前</p>
                                    </a>
                                </div>
                                <div class="dropdown-menu-notify-newLabel bg-secondary rounded-circle"></div>
                            </li>
                            <!-- 通知類型：書聚申請 end -->
                            <!-- 通知類型：好友邀請 -->
                            <li class="px-16 py-8 d-flex justify-content-between align-items-center position-relative">
                                <div class="d-flex align-items-start w-90">
                                    <a href="#"> <!-- 連結到發起者主頁 -->
                                        <img class="rounded-circle me-16" src="../assets/images/avatar-03.png"
                                            alt="user image" style="width: 48px;">
                                    </a>
                                    <div>
                                        <p class="d-inline-block border border-gray-600 rounded-8 fs-12 px-8 py-2 mb-4">
                                            好友邀請
                                        </p>
                                        <p class="mb-8">Alice Lioa 對你發出好友邀請</p>
                                        <div class="d-flex mb-8">
                                            <a href="#"
                                                class="d-block bg-primary px-16 py-8 rounded-8 fs-14 text-white text-center me-8">加好友</a>
                                            <a href="#"
                                                class="d-block bg-white px-16 py-8 border border-gray-600 rounded-8 fs-14 text-dark text-center">略過</a>
                                        </div>
                                        <p class="fs-12 text-gray-600">4小時前</p>
                                    </div>
                                </div>
                                <div class="dropdown-menu-notify-newLabel bg-secondary rounded-circle"></div>
                            </li>
                            <!-- 通知類型：好友邀請 end -->

                            <!-- 通知類型：書聚申請 -->
                            <li class="px-16 py-8 d-flex justify-content-between align-items-center position-relative">
                                <div class="d-flex align-items-start w-90">
                                    <a href="#" class="me-16"> <!-- 連結到發起者主頁 -->
                                        <img class="rounded-circle" src="../assets/images/avatar-04.png"
                                            alt="user image" style="width: 48px;">
                                    </a>
                                    <a href="#">
                                        <p
                                            class="d-inline-block border border-dark rounded-8 fs-12  text-dark px-8 py-2 mb-4">
                                            書聚申請
                                        </p>
                                        <p class="d-block mb-4 text-dark">Alice Lioa
                                            申請加入《如何改變一個人：華頓商學院教你消除抗拒心理，從心擁抱改變》書聚</p>
                                        <p class="fs-12 text-gray-600">4小時前</p>
                                    </a>
                                </div>
                                <div class="dropdown-menu-notify-newLabel bg-secondary rounded-circle"></div>
                            </li>
                            <!-- 通知類型：書聚申請 end -->

                            <!-- 通知類型：書聚申請 -->
                            <li class="px-16 py-8 d-flex justify-content-between align-items-center position-relative">
                                <div class="d-flex align-items-start w-90">
                                    <a href="#" class="me-16"> <!-- 連結到發起者主頁 -->
                                        <img class="rounded-circle" src="../assets/images/avatar-05.png"
                                            alt="user image" style="width: 48px;">
                                    </a>
                                    <a href="#">
                                        <p
                                            class="d-inline-block border border-dark rounded-8 fs-12  text-dark px-8 py-2 mb-4">
                                            書聚申請
                                        </p>
                                        <p class="d-block mb-4 text-dark">Alice Lioa
                                            申請加入《如何改變一個人：華頓商學院教你消除抗拒心理，從心擁抱改變》書聚</p>
                                        <p class="fs-12 text-gray-600">4小時前</p>
                                    </a>
                                </div>
                                <div class="dropdown-menu-notify-newLabel bg-secondary rounded-circle d-none"></div>
                            </li>
                            <!-- 通知類型：書聚申請 end -->
                        </ul>
                    </div>
                </li>

                <!-- 個人專區 -->
                <li class="nav-item">
                    <div class="dropdown">
                        <!-- 下拉選單按鈕 -->
                        <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="nav-img" src="../assets/images/avatar-01.png" alt="user ">
                        </a>
                        <!-- 展開選單 -->
                        <ul class="dropdown-menu dropdown-menu-end mt-md-8" aria-labelledby="dropdownMenuLink">
                            <li class="mb-8"><a class="dropdown-item" href="#">
                                    <img src="../assets/images/icon-user.svg" alt="user info">我的資料</a></li>
                            <li class="mb-8"><a class="dropdown-item" href="#">
                                    <img src="../assets/images/icon-mission.svg" alt="mission">我的任務</a></li>
                            <li class="mb-8"><a class="dropdown-item" href="#">
                                    <img src="../assets/images/icon-personal.svg" alt="personal book club">我的書屋</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger" href="lognIn.html">登出</a></li>
                        </ul>
                    </div>
                </li>
                <!-- 個人專區 end -->
            </ul>
        </div>
    </div>
</nav>