<nav class="navbar navbar-expand-lg navbar-light bg-light shadow shadow-1">
    <div class="container-fluid px-16 px-md-40 py-16">
        <a class="navbar-brand" href="index.html"><img class="logo" src="../assets/images/funya-logo.png" alt="#"></a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- 行動版選單 -->
        <div class="d-md-none ms-auto">
            <!-- Button trigger modal -->
            <button type="button" class="border-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span class="material-symbols-outlined fs-40 text-dark">
                    filter_list
                </span>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>

            <!-- 電腦版選單 -->
            <ul class="navbar-nav ms-auto align-items-center d-none d-md-flex flex-row">
                <li class="nav-item me-md-40">
                    <div class="position-relative">
                        <div class="btn-height bg-primary-dark">11</div>
                        <div class="btn-primary bg-primary ps-16 pe-20 pt-12 pb-8">
                            <img class="me-8" src="../assets/images/icon-holdEvent.svg" alt="hold a evnet">
                            <a href="#" class="stretched-link text-white">我要揪團</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item me-md-32">
                    <div class="bg-gray-300" style="width: 1px; height: 48px"></div>
                </li>
                <li class="nav-item position-relative me-md-24 px-12">
                    <div class="d-flex flex-column jistify-content-center align-items-center">
                        <img src="../assets/images/icon-mission.svg" alt="mission" style="width: 36px;">
                        <a class="stretched-link text-dark" href="#">任務</a>
                    </div>
                    <div class="nav-counter bg-danger">1</div>
                </li>
                <li class="nav-item position-relative me-md-40 px-12">
                    <div class="d-flex flex-column jistify-content-center align-items-center">
                        <img src="../assets/images/icon-notify.svg" alt="mission" style="width: 36px;">
                        <a class="stretched-link text-dark" href="#">通知</a>
                    </div>
                    <div class="nav-counter bg-danger">1</div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="nav-img" src="../assets/images/avatar-01.png" alt="user ">
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end mt-md-8" aria-labelledby="dropdownMenuLink">
                            <li class="mb-8"><a class="dropdown-item" href="#">
                                    <img src="../assets/images/icon-user.svg" alt="user info">我的資料</a></li>
                            <li class="mb-8"><a class="dropdown-item" href="#">
                                    <img src="../assets/images/icon-mission.svg" alt="mission">我的任務</a></li>
                            <li class="mb-8"><a class="dropdown-item" href="#">
                                    <img src="../assets/images/icon-personal.svg" alt="personal book club">我的書屋</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger" href="#">登出</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>