<nav class="navbar navbar-expand-lg navbar-light bg-light shadow shadow-1">
    <div class="container-fluid px-16 px-md-40 py-16">
        <a class="navbar-brand" href="index.html"><img class="logo" src="../assets/images/funya-logo.png" alt="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto  align-items-center">
                <li class="nav-item me-md-40">
                    <div class="position-relative">
                        <div class="btn-height bg-primary-dark">11</div>
                        <div class="btn-primary bg-primary ps-16 pe-20 pt-12 pb-8">
                            <img class="me-8" src="../assets/images/icon-holdEvent.svg" alt="hold a evnet">
                            <a href="#" class="stretched-link text-white">我要揪團</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item me-md-40">
                    <div class="bg-gray-300" style="width: 1px; height: 48px"></div>
                </li>
                <li class="nav-item position-relative me-md-24 px-12">
                    <div class="d-flex flex-column jistify-content-center align-items-center">
                        <img src="../assets/images/icon-mission.svg" alt="mission" style="width: 36px;">
                        <a class="stretched-link" href="#">任務</a>
                    </div>
                    <div class="nav-counter bg-danger">1</div>
                </li>
                <li class="nav-item position-relative me-md-40 px-12">
                    <div class="d-flex flex-column jistify-content-center align-items-center">
                        <img src="../assets/images/icon-notify.svg" alt="mission" style="width: 36px;">
                        <a class="stretched-link" href="#">通知</a>
                    </div>
                    <div class="nav-counter bg-danger">1</div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="nav-img" src="../assets/images/avatar-01.png" alt="user ">
                        </a>
                      
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div>
                </li>
            </ul>
        </div>
    </div>
</nav>